/* Variables */
:root {
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-white: #FFFFFF;

  --basic-blue: #81B3D2;
  --blue-hover: #669EC0;
  --blue-focus: #5496BD;

  --basic-gray: #EEEEEE;
  --gray-pointer: #CACACA;
  --gray-date-base: #F2F2F2;
  --gray-date-hover: #EBEBEB;
  --gray-sign: #A9A9A9;
  --gray-round: #ABABAB;
  --gray-border: #E5E5E5;
  --gray-rating: #666666;

  --basic-brown: #766357;
  --brown-hover: #604E43;
  --brown-focus: #503E33;

  --filter-focus: #6A6A6A;
  --special: rgba(255, 255, 255, 0.9);

  --html-base: #231F20;
  --html-focus: #BDBBBC;
}

/* Glabal */

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--gray-date-base);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.center-page {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
}

/* navigation */
.main-navigation {
  font-weight: bold;
  line-height: 26px;
  color: var(--basic-black);
  position: relative;
}

.main-navigation-logo {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.main-navigation-logo img {
  display: block;
}

.site-navigation {
  margin: 0;
  padding: 0 72px;
  display: flex;
}

.site-navigation a {
  color: var(--basic-black);
  display: block;
  padding: 15px 0;
}

.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation li {
  width: 25%;
}

.site-navigation li:nth-child(3),
 .site-navigation li:nth-child(4) {
  text-align: right;
}

/* main*/
.caption img {
  display: block;
  margin: 0 auto;
}

.clear-list {
  list-style: none;
}

.caption-img {
  padding-bottom: 80px;
  padding-top: 77px;
}

.caption-img h1 {
  margin: 0;
}

.caption {
  background-image: url("../img/background.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat;
}

.reasons {
  text-align: center;
  line-height: 26px;
  margin-top: 96px;
  margin-bottom: 54px;
}

.reasons-title {
  font-size: 21px;
  font-weight: bold;
}

.application {
  line-height: 24px;
  text-align: center;
  padding-top: 58px;
  padding-bottom: 78px;
}

.application-bloc {
  margin: 0 auto;
  width: 435px;
  height: 155px;
}

.application h3 {
  font-weight: bold;
  font-size: 30px;
  margin-top: 0;
}

.advantages {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 256px;
}

.advantages img {
  grid-column-start: 2;
  grid-column-end: 3;
}

.advantages-slogan {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  padding-left: 52px;
  padding-right: 51px;
  padding-top: 47px;
  padding-bottom: 54px;
  width: 297px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.advantages-bridge img {
  grid-column-start: 1;
  grid-column-end: 2;
}

.advantages-bridge .advantages-slogan {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-left: 50px;
  padding-right: 49px;
  padding-top: 50px;
  padding-bottom: 51px;
  width: 301px;
}

.features {
  margin-bottom: 82px;
  margin-top: 61px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 124px;
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;
  padding: 0;
}

.feature-item {
  text-align: center;
}

.benefits {
  padding-bottom: 40px;
  padding-top: 30px;
  background-color: var(--basic-gray);
}

.benefits-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 168px;
  margin: 0;
  margin-left: 96px;
  margin-right: 77px;
  padding: 0;
}

.benefits-item {
  text-align: center;
}

.result-hotels {
  display: flex;
  padding-bottom: 30px;
  padding-left: 73px;
  padding-right: 73px;
  flex-direction: row;
  border-top: 1px solid var(--gray-border);
}

.result-hotels:last-child {
  border-bottom: 1px solid var(--gray-border);
}

.result-hotels img {
  margin-top: 30px;
  display: block;
}

.hotel {
  margin-left: 29px;
  margin-top: 23px;
  display: flex;
  flex-wrap: wrap;
  width: 270px;
}

.hotel h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  margin: 0;
  width: 100%;
}

.hotel p {
  margin-top: 7px;
  margin-bottom: 16px;
}

.type-accommodation {
  width: 107px;
  margin-right: 9px;
}

.cost-accommodation {
  width: 96px;
}

.result-hotels .reyting {
  margin-left: auto;
  text-align: center;
  align-self: flex-end;
}

.reyting p {
  background-color: var(--gray-date-base);
  color: var(--gray-rating);
  padding: 3px;
  padding-left: 15px;
  padding-right: 12px;
  margin: 0;
}

.button {
  color: var(--basic-white);
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 3px;
  padding-bottom: 3px;
}

.button-detail {
  background-color: var(--basic-blue);
  width: 110px;
  margin-right: 6px;
}

.button-detail:hover {
  background-color: var(--blue-hover);
}

.button-detail:focus {
  background-color: var(--blue-focus);
}

.button-reserve {
  background-color: var(--basic-brown);
  width: 142px;
}

.button-reserve:hover {
  background-color: var(--brown-hover);
}

.button-reserve:focus {
  background-color: var(--brown-focus);
}
/* footer*/
.page-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 111px;
  padding-right: 139px;
}

.page-footer {
  opacity: 0.9;
  background-color: var(--basic-white);
  padding-top: 23px;
  padding-bottom: 36px;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  width: 251px;
  text-align: center;
}

.footer-contacts p {
  margin: 0;
}

.footer-contacts a {
  color: var(--basic-black);
}

.footer-social {
  text-align: center;
  width: 145px;
  justify-self: center;
}

.footer-social ul {
  padding: 0;
  margin: 0 auto;
}

.footer-social a:hover {
  color: var(--blue-hover);
}

.footer-social a:focus {
  color: var(--blue-focus);
}

.social-button {
  color: inherit;
}

.footer-copyright {
  text-align: center;
  width: 145px;
  justify-self: end;
  margin: 0;
}

.button-copyright {
  color: var(--html-base);
}

.button-copyright:hover {
  color: var(--basic-blue);
}

.button-copyright:focus {
  color: var(--html-focus);
}
